:root {
  // not usable, because the search engine
  //--vp-c-bg: #171717;
  --vp-c-bg-soft: #212121;
  --vp-c-text-1: #d4d4d4;
  --vp-c-text-2: #c1c1c1;
  --vp-c-text-3: #adadad;
  --vp-c-text-4: #9a9a9a;
  --c-brand: #1b5880;
  --c-brand-light: #1e6390;
  --c-brand-dark: #184d70;
  --vp-c-divider-light: #212121;
  --vp-c-bg-mute: #343434;
  --vp-c-text-code: --vp-c-text-1;

}

html, body, .sidebar {
    background-color: #171717;
}

header.navbar {
    background-color: #252d3a;
}
header.navbar .home-link {
    background-color: transparent;
}

div[class*='language-'] {
    background-color: #212121;
}
div[class*='language-']:hover {
    background-color: #2b2b2b;
}

div.custom-block {
    color: var(--vp-c-text-3);
}
